<div id="copy_box">
	<p class="main_copy">This is smoochbot. He is here to help you.<br /> Check out his code below:</p>
	<blockquote>
	<p class="ocr_copy">10 email human romantic idea</p>
	<p class="ocr_copy">20 wait predetermined interval</p>
	<p class="ocr_copy">30 goto 10</p>
	</blockquote>
</div>

<%= render 'form' %>

<% form_for(@smoochee) do |f| %>
<p>
<%= f.text_field :email, :value => "enter email here" %> <%= f.submit "sign up" %>
</p>

<p>
<%= f.label :frequency %>:
<%= f.radio_button :frequency, "0", :checked => true %> <%= f.label :weekly %>
<%= f.radio_button :frequency, "1" %> <%= f.label :monthly %>
</p>
<% end %>
