<!DOCTYPE html>
<html>
<head>
  <title>Smoochbot</title>
  <%= stylesheet_link_tag("smoochbot") %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"%>
  <%= javascript_include_tag :defaults %>
  <link href='http://fonts.googleapis.com/css?family=Concert+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="content">
	<div id="user_nav">
	<% if user_signed_in? and current_user.is_admin? %>
	<p> Hello Admin	| <%= link_to "Logout", destroy_user_session_path %></p>
	<% elsif user_signed_in? %>
		<p>Hello <%= current_user.email %> | 
		<%= link_to "Logout", destroy_user_session_path %></p>
	<% end %>
	</div>
	<div id="intro">
		<div id="smoochbot"><a href="/">smooch<span style="color: black;">bot</span>.com</a></div>
		<p class="tagline">machine assisted romance</p>
	</div>
<div id="notice"><%= flash[:notice] %></div>
<div id="errors"><%= flash[:errors] %></div>
<%= yield %>

</div>

<%= render :partial => '/layouts/footer' %>

</body>
</html>